html {
    scroll-padding-top: 10%;
}

body {
    font-family: "Arvo", serif;
    font-size: 120%;
    text-align: center;
    color: seashell;
    background-color: rgba(14, 6, 24, 1);
    opacity: 0.9;
    margin: 0;  
}

nav {
    position: fixed;
    z-index: 10;
    left: 0;
    right: 0;
    top: 0;
    padding: 0 5%;
    height: 10%;
    background-color: rgba(14, 6, 24, 1);

}

nav .logo {
    float: left;
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: seashell;
    font-weight: 200;
}

nav .links {
    float: right;
    padding: 0;
    margin: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav .links li {
    list-style: none;
    
}

nav .links a {
    display: block;
    padding: 1em;
    font-size: 16px;
    font-weight: normal;
    text-decoration: none;
    color: seashell;
}

nav .links a:hover {
    cursor: pointer;
    font-size: large;
    color: blueviolet;
}

.maincontent {
    position: relative;
    margin-top: 5rem;
    
}

.mission {
    background-image: url("./images/main-background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    width: 100%;
    height: 300px;
    padding-top: 150px;
    align-items: center;
     
}

.missionstatement {
    align-content: center;
    margin: auto;
    text-align: center;
    background-color: rgba(14, 6, 24, 1);
    color: seashell;
    width: 75%;
    padding: 10px;
    border: 3px solid black;
    
}

.portfolio {
    margin-top: 3rem;
}

.portfolio p {
    margin: 2rem;
}

.project-container {
    position: relative;
    top: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 3rem;
}

.project {
    padding: 15px;
   
}

.project img {
    width: 250x;
    height: 180px;
    border: 3px solid cornsilk;
}

.project h4 {
    margin: 0;
    
}

.team {
    background-image: url("./images/erebonia.jpg");
    /*background-repeat: no-repeat;
    background-position: center;
    /*background-size: 100%;
    padding-top: 1rem;
    padding-bottom: 2rem;
    display: flex;
    flex-wrap: wrap; */
    justify-content: center;
    align-items: center; 
    padding-top: 70px;
    padding-top: 5px;
    display: flex;
    flex-wrap: wrap;
    background-repeat: no-repeat;
    background-size: cover;
}

.team h2 {
    align-content: center;
    text-align: center;
    background-color: rgba(14, 6, 24, 1);
    color: seashell;
    width: 50%;
    padding: 10px;
    border: 3px solid black;
    margin-bottom: 1rem;
}

#juna {
    height: 175px;
    width: 250px;
}

.team-members {
    position: relative;
    top: auto;
    display: inline-flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: auto; 
    padding: 0rem 2rem 2rem;

}
.member {
    margin: 15px;
}

.member h4 {
    background-color: rgba(14, 6, 24, 1);
    border: 3px solid seashell;
    padding: 0.5rem;
    margin: 0;
    top:0;
} 

.contact {
    padding-top: 2rem;
}

.contact-info {
    line-height: 0.5rem;
}

@media (max-width: 980px) {
    body {
        scroll-padding-top: 4rem;
    }
}